<a href="https://colab.research.google.com/github/thiagomorellato/growdev/blob/main/Atividade_Estruturas_de_dados_Semana_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

#Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom

#Exercícios

#Listas

Para esse exercicio você tera alguns desafios, separei eles em partes, vamos lá?

1 - Crie uma lista com 100 números inteiros.
- Pode ser uma sequência, ou caso queira se desafiar faça de números aleatorios.
- Os dados não devem ser inseridos manualmente, utilize de um laço de repetição para adicionar os elementos a Lista.

In [29]:
import random
lista = []
random.seed(43)
for i in range(100):
  num = random.randint(1,10000)
  lista.append(num)
print(lista)
len(lista)

[632, 4688, 2359, 7579, 6061, 1578, 7426, 9811, 8164, 9978, 314, 8423, 7085, 9448, 6101, 8962, 7112, 6455, 2887, 946, 1759, 2041, 6159, 2515, 1569, 2632, 8396, 8127, 2109, 6339, 9785, 8302, 4456, 9424, 2980, 6176, 1041, 802, 9491, 1003, 3058, 1007, 2716, 4853, 4511, 1263, 8557, 1689, 9575, 1001, 1542, 7495, 5428, 5410, 8666, 7190, 2734, 2070, 1314, 5236, 821, 9690, 4393, 6031, 3048, 9904, 1153, 9044, 1857, 4867, 8109, 5924, 7111, 678, 7751, 6799, 9861, 1371, 5868, 2084, 1413, 2525, 9406, 5039, 1785, 8769, 6960, 7260, 9620, 623, 2402, 42, 1733, 2037, 2065, 280, 5532, 1943, 8722, 8162]

100

2 - Calcule e exiba a soma de todos os números da lista.

In [13]:
sum(lista)

489112

3 - Exiba o maior e o menor número da lista.

In [20]:
min(lista)

42

In [21]:
max(lista)

9978

4 - Pesquise se o número 77 esta presente na lista e exiba:
- Quantas vezes esse número aparece na lista
- Se aparece em qual ou quais posições(Indice).

In [31]:
if 77 in lista:
  print("O número 77 está na lista")
else:
  print("O número 77 não está na lista")

if 7085 in lista:
  print("O número 7085 está na lista")
else:
  print("O número 7085 não está na lista")

#lista.append(7085) #teste para ver se o programa realmente consegue mostrar caso o número apareça mais de uma vez
for posicao, numero in enumerate(lista):
  if numero == 7085:
    print(f"O número 7085 aparece na posição :{posicao}")

O número 77 não está na lista
O número 7085 está na lista
O número 7085 aparece na posição :12

5 - Ordene a lista de forma descendente e exiba.

In [32]:
lista.sort(reverse=True)
lista

[9978,
 9904,
 9861,
 9811,
 9785,
 9690,
 9620,
 9575,
 9491,
 9448,
 9424,
 9406,
 9044,
 8962,
 8769,
 8722,
 8666,
 8557,
 8423,
 8396,
 8302,
 8164,
 8162,
 8127,
 8109,
 7751,
 7579,
 7495,
 7426,
 7260,
 7190,
 7112,
 7111,
 7085,
 6960,
 6799,
 6455,
 6339,
 6176,
 6159,
 6101,
 6061,
 6031,
 5924,
 5868,
 5532,
 5428,
 5410,
 5236,
 5039,
 4867,
 4853,
 4688,
 4511,
 4456,
 4393,
 3058,
 3048,
 2980,
 2887,
 2734,
 2716,
 2632,
 2525,
 2515,
 2402,
 2359,
 2109,
 2084,
 2070,
 2065,
 2041,
 2037,
 1943,
 1857,
 1785,
 1759,
 1733,
 1689,
 1578,
 1569,
 1542,
 1413,
 1371,
 1314,
 1263,
 1153,
 1041,
 1007,
 1003,
 1001,
 946,
 821,
 802,
 678,
 632,
 623,
 314,
 280,
 42]

## Tuplas:

Crie uma tupla com os dias da semana e peça para o usuário digitar um número de 1 a 7. Exiba o dia correspondente.

In [33]:
dias_semana = ("Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado")

numero = int(input("Digite um número de 1 a 7: "))

if 1 <= numero <= 7:
    dia_correspondente = dias_semana[numero - 1]
    print("O dia é:", dia_correspondente)
else:
    print("Número inválido. Por favor, digite um número de 1 a 7.")

Digite um número de 1 a 7: 1
O dia é: Domingo

Crie duas tuplas com números inteiros e crie uma terceira tupla com a concatenação das duas.

In [34]:
tupla1 = (1, 2, 3, 4, 5)
tupla2 = (6, 7, 8, 9, 10)

tupla_concatenada = tupla1 + tupla2

print("Tupla concatenada:", tupla_concatenada)

Tupla concatenada: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

 Crie uma tupla com alguns elementos e remova um elemento específico.

In [35]:
tupla_frutas = ("banana", "maçã","laranja", "pera","morango")

print(tupla_frutas)
tupla_frutas = tuple([fruta for fruta in tupla_frutas if fruta != "laranja"])
print(tupla_frutas)

('maçã', 'banana', 'laranja', 'uva', 'morango')

#Sets

Crie dois sets com cores diferentes e exiba na tela a união dos dois sets.

In [1]:
set_cores1 = {"vermelho", "azul", "verde"}
set_cores2 = {"amarelo", "roxo", "vermelho"}

uniao_cores = set_cores1.union(set_cores2)
print("União dos sets:")
print(uniao_cores)

União dos sets:
{'amarelo', 'azul', 'verde', 'vermelho', 'roxo'}

Crie uma lista com alguns números repetidos. Converta essa lista em um set para remover as duplicatas e exiba o resultado.

In [2]:
lista_numeros_repetidos = [1, 2, 3, 4, 2, 3, 5, 6, 4]


set_sem_repetidos = set(lista_numeros_repetidos)

print("Lista original:", lista_numeros_repetidos)
print("Set sem duplicatas:", set_sem_repetidos)

Lista original: [1, 2, 3, 4, 2, 3, 5, 6, 4]
Set sem duplicatas: {1, 2, 3, 4, 5, 6}

#Dicionários:

# Crie um dicionário com os nomes de algumas frutas e suas respectivas cores. Exiba na tela somente as frutas que são vermelhas.

In [3]:
dicionario_frutas_cores = {"maçã": "vermelha","banana": "amarela","morango": "vermelha","uva": "roxa","laranja": "laranja"}

print("Frutas vermelhas:")
for fruta, cor in dicionario_frutas_cores.items():
    if cor == "vermelha":
        print(fruta)

Frutas vermelhas:
maçã
morango

Crie um dicionário com o nome e a idade de três pessoas. Busque por  um nome e exiba a idade correspondente.

In [5]:
pessoas = {"João": 30,"Maria": 25,"Pedro": 35}

buscarnome = input("Digite o nome da pessoa que você deseja buscar: ")

if buscarnome in pessoas:
    idade = pessoas[buscarnome]
    print(f"A idade de {buscarnome} é {idade} anos.")
else:
    print("Nome não encontrado no dicionário.")

Digite o nome da pessoa que você deseja buscar: João
A idade de João é 30 anos.

Crie um dicionário com os nomes e idades de algumas pessoas. Peça para o usuário digitar um nome e sua nova idade, e atualize o dicionário com essa informação.

In [6]:
pessoas = {"João": 30, "Maria": 25, "Pedro": 35}

nome = input("Digite o nome da pessoa: ")
nova_idade = int(input("Digite a nova idade: "))

pessoas[nome] = nova_idade

print("Dicionário atualizado:", pessoas)

Digite o nome da pessoa: Douglas
Digite a nova idade: 89
Dicionário atualizado: {'João': 30, 'Maria': 25, 'Pedro': 35, 'Douglas': 89}

Desafio Dicionários:

Busque o código desenvolvido para o exercicio abaixo e altere o algoritmo para:

 - Salvar o resultado da eleição em um dícionário.


Exemplo de saida do dicionario: {"Candidato 1": 2, "Candidato 2": 2, "Voto Nulo": 0, "Voto Branco": 1}


Este exercicio foi realizado na lista da semana passada, exercicio de número 4:


"Em uma eleição presidencial existem dois candidatos. Os votos são informados através de códigos. Os dados utilizados para a contagem dos votos obedecem à seguinte codificação:

1,2 = voto para os respectivos candidatos

3 = voto nulo

4 = voto em branco;

Elabore um programa que leia o código de votação de 5 eleitores. Calcule e escreva: total de votos para cada candidato total de votos nulos total de votos em branco"

In [9]:
resultados_eleicao = {"candidato 1": 0, "candidato 2": 0, "nulo": 0, "branco": 0}

for i in range(5):
    voto = int(input("Digite o número do seu candidato:"))
    while  voto <= 0 or voto > 4:
        voto = int(input("Número inválido. Digite o número do seu candidato:"))
    if voto == 1:
        resultados_eleicao["candidato1"] += 1
    elif voto == 2:
        resultados_eleicao["candidato2"] += 1
    elif voto == 3:
        resultados_eleicao["nulo"] += 1
    else:
        resultados_eleicao["branco"] += 1

print("Resultados da eleição:")
print(resultados_eleicao)

Digite o número do seu candidato:1
Digite o número do seu candidato:1
Digite o número do seu candidato:1
Digite o número do seu candidato:1
Digite o número do seu candidato:2
Resultados da eleição:
{'candidato1': 4, 'candidato2': 1, 'nulo': 0, 'branco': 0}

#Listas por Compreensão:

Crie uma lista com os números Impares de 1 a 20 utilizando listas por compreensão.

In [10]:
numeros_impares = [numero for numero in range(1, 21) if numero % 2 != 0]
print(numeros_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

:Crie uma lista com as letras da frase "Sou estudante de dados", utilizando listas por compreensão.

In [11]:
frase = "Sou estudante de dados"
letras = [letra for letra in frase if letra != " "]
print(letras)

['S', 'o', 'u', 'e', 's', 't', 'u', 'd', 'a', 'n', 't', 'e', 'd', 'e', 'd', 'a', 'd', 'o', 's']